.app {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.task-manager {
  background-color: rgb(194, 211, 153);
  margin-top: 60px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px;
  width: 420px;
  height: 520px;
  overflow-y: auto;
}

.title {
  text-shadow: 2px 0px 4px #000;
}

.input-task-row {
  display: flex;
  gap: 10px;
}

.edit-button,
.save-button,
.delete-button,
.checkbox-button {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 15px;
}

.clear-button {
  cursor: pointer;
  background-color: #ffefef;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 0px 5px;
  transition: 0.5s ease-in-out;
}

.clear-button:hover {
  margin-bottom: 5px;
}

.add-button {
  cursor: pointer;
  border: white;
  border-radius: 10px;
  padding: 6px 10px;
  color: rgb(255, 249, 249);
  background-color: blue;
  font-weight: 700;
  box-shadow: rgba(56, 56, 56, 0.2);
}

.counts-and-clear {
  display: flex;
  justify-content: space-between;
}

.task-input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
}

.task-item span {
  flex: 1;
}
.checkbox-button {
  cursor: pointer;
}
